PORT=300

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=parques_db

JWT_SECRET=cambia_este_valor_por_un_secreto_largo
JWT_EXPIRES_IN=8h

EMAIL_USER=tu_correo@gmail.com
EMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
EMAIL_FROM_NAME=Parques La Paz

